@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


.navbar{
    background-color: black;

}
.logo{
    width: 160px;
}

.container{
    margin-top: 150px;
}

.subTitulo{
    font-family: courier;
}
.col-6 img{
    margin-left: 150px;
    width: 450px;
    border-radius: 50px;
}


